<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="DEV_HOME" value="${catalina.base:-.}/logs"/>

    <appender name="FILE-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/debug.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!--deny all events with a level below INFO, that is TRACE and DEBUG-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>

        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>


    <logger name="ru.pavel.parser" level="info"
            additivity="false">
        <appender-ref ref="FILE-AUDIT"/>
    </logger>

    <logger name="org.springframework" level="info"
            additivity="false">
            <appender-ref ref="CONSOLE" />
    </logger>

    <root level="info">
        <appender-ref ref="FILE-AUDIT"/>
        <!--<appender-ref ref="CONSOLE"/>-->
    </root>
</configuration>
